/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env


# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

/database
/storage/debugbar
/storage/logs